.heading {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: -3px;
  color: #FAFAFA;
}

.Textbox {
  font-family: "ITC Avant Garde Gothic Std", sans-serif;
  /* font-weight: 600; */
  margin-top: 20px;
  font-style: normal;
  font-size: 23px;
  /* leading-trim: NONE; */ 
  line-height: 36px;
  letter-spacing: 0px; 
  color: #FAFAFA;
}

.btn {
  margin-top: 30px;
}

.image-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .hero {
    height: auto;
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
  }

  .inner-hero {
    min-height: auto;
    padding: 20px;
  }

  .heading {
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -1.5px;
  }

  .Textbox {
    font-size: 18px;
    line-height: 28px;
  }

  .btn {
    margin-top: 20px;
  }

  .image-container {
    width: 100%;
    height: auto;
    margin-top: 20px;
  }
}
